# Arquivo de ignorados do Git
app-up.code-workspace
*.pyc
__pycache__/
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info/
*.egg
*.zip
*.tar.gz
*.rar
*.tar
*.gz
*.swp
*.bak
*.tmp
*.pid
*.coverage
*.idea/
*.iml
*.sublime-workspace
*.sublime-project
*.project
*.classpath